@tailwind base;
@tailwind components;
@tailwind utilities;

.list-container {
    @apply max-w-64 pr-4;
}

.list-container>ul {
    @apply ml-4 font-light pb-2 pt-2 text-sm;
}

.list-container>ul>li {
    @apply flex p-2 px-2 w-full hover:bg-gray-200 rounded-xl;
}

.list-container>ul>li>div {
    @apply mr-4;
}

.hover-scrollbar::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
}

.hover-scrollbar:hover::-webkit-scrollbar {
    width: 8px;
}

.hover-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

body{
    overscroll-behavior: none;
}

.main-container {
    @apply grid grid-flow-col ;
    
}